<!-- ADVERTISERS SERVICE CARD -->
<section id="advertisers" class="advertisers-service-sec pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="section-header text-center">
        <h2 class="fw-bold fs-1">
          Our
          <span class="b-class-secondary">Learning</span> Services
        </h2>
        <p class="sec-icon"><i class="fa-solid fa-gear"></i></p>
      </div>
    </div>
    <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center">
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <!-- <i class="fa-solid fa-chart-line"></i> -->
            <i class="fa-brands fa-angular"></i>
          </div>
          <h3>Angular</h3>
          <p>
            Angular is a TypeScript-based free and open-source single-page web application framework run on Node.js.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <!-- <i class="fa-solid fa-arrows-down-to-people"></i> -->
            <i class="fa-brands fa-react"></i>
          </div>
          <h3>React</h3>
          <p>
            React is a free and open-source front-end JavaScript library for building user interfaces based on
            components.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-brands fa-python"></i>
          </div>
          <h3>Python</h3>
          <p>
            Python is commonly used for developing websites and software, task automation, data analysis, and data
            visualization.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-brands fa-js"></i>
          </div>
          <h3>Javascript</h3>
          <p>
            JavaScript (JS) is a cross-platform, object-oriented programming language used by developers to make web
            pages interactive.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-brands fa-wordpress"></i>
          </div>
          <h3>Wordpress</h3>
          <p>
            WordPress is a web content management system. It was originally created as a tool to publish blogs.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-brands fa-php"></i>
          </div>
          <h3>PHP</h3>
          <p>
            PHP is a server scripting language, and a powerful tool for making dynamic and interactive Web pages.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ADVERTISERS SERVICE CARD ENDED -->

<!-- footer -->

<footer>
  <div class="footer-content">
    <div class="footer-section about">
      <h3>About Us</h3>
      <p>Hi, I'm Anuj, a dedicated Full Stack Developer with a passion for building dynamic and responsive web
        applications. Explore my portfolio to see some of my latest projects and learn more about my skills and
        experience.</p>
      <div class="footer-col">
        <!-- <h4>follow us</h4> -->
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-section links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#tech-text">Text-Tech</a></li>
        <li><a href="#learning">Learning</a></li>
        <li><a href="#sign-out">Sign Out</a></li>
        <li><a href="#sign-in">Sign In</a></li>
      </ul>
    </div>
    <div class="footer-section contact">
      <h3>Location</h3>
      <p>#366,PWT,Sector-13 Chandigarh</p><br>
      <p><i class="fa-solid fa-phone-volume"></i>  6206945227</p>
      <p><i class="fa-solid fa-envelope"></i>  anuj12&commat;gmail.com</p>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2024 Jungleworks | Team
  </div>
</footer>