<section id="welcome-hero" class="welcome-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="header-text">
          <h2>
            hi <span>,</span> i am anuj kumar <span>.</span>
          </h2>
          <p>Full Stack Web developer</p>
          <a href="../../assets/images/resume.pdf" download>download resume</a>
        </div>
        <!--/.header-text-->
      </div>
      <!--/.col-->
    </div>
    <!-- /.row-->
  </div>
  <!-- /.container-->
</section>

<!--about start -->
<section id="about" class="about">
  <div class="section-heading text-center">
    <h2>about me</h2>
  </div>
  <div class="container">
    <div class="about-content">
      <div class="row">
        <div class="col-sm-6">
          <div class="single-about-txt">
            <h3>
              I am a full stack web developer and I good in both front-end and
              back-end technologiess, creating efficient and scalable web
              applications. My focus is on writing clean code and delivering
              innovative solutions.
            </h3>
            <p>
              Welcome to my portfolio! I am a seasoned Professional Web
              Developer with a strong background in full stack development. My
              expertise encompasses both front-end and back-end technologies,
              allowing me to create robust, scalable web applications. I pride
              myself on writing clean, efficient code and am passionate about
              finding innovative solutions to complex problems. My projects
              demonstrate a commitment to high quality, performance, and user
              satisfaction. Explore my work to see how I blend technical
              proficiency with creativity to deliver outstanding digital
              solutions.
            </p>
            <div class="row">
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>phone</h3>
                  <p>6206945227</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>email</h3>
                  <p>anuj.kumar&commat;gmail.com</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="single-about-add-info">
                  <h3>website</h3>
                  <p>www.anuj.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <div class="single-about-img">
            <img src="../../assets/images/anuj2.jpg" alt="profile_image" />
            <div class="about-list-icon">
              <ul>
                <li>
                  <a href="#">
                    <fa-icon [icon]="faFacebookF" class="icon-n"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
                <li>
                  <a href="#">
                    <fa-icon [icon]="faDribbble"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
                <li>
                  <a href="#">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
                <li>
                  <a href="#">
                    <fa-icon [icon]="faLinkedinIn"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
                <li>
                  <a href="#">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                  </a>
                </li>
                <!-- / li -->
              </ul>
              <!-- / ul -->
            </div>
            <!-- /.about-list-icon -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/.about-->
<!--about end -->

<!--education start -->
<section id="education" class="education">
  <div class="section-heading text-center">
    <h2>education</h2>
  </div>
  <div class="container">
    <div class="education-horizontal-timeline">
      <div class="row">
        <div class="col-sm-4">
          <div class="single-horizontal-timeline">
            <div class="experience-time">
              <h2>2018 - 2019</h2>
              <h3>Annual <span>Secondary </span> examination</h3>
            </div>
            <!--/.experience-time-->
            <div class="timeline-horizontal-border">
              <fa-icon [icon]="faCircle"></fa-icon>
              <span class="single-timeline-horizontal"></span>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <h4 class="title">Upgraded High School</h4>
                <h5>Sikri, Jharkhand</h5>
                <p class="description">
                  An annual secondary examination is a comprehensive assessment typically conducted at the end of an
                  academic year for students in secondary education, which usually includes grades 9 through 12,
                  depending on the education system.
                </p>
              </div>
              <!--/.timeline-content-->
            </div>
            <!--/.timeline-->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-horizontal-timeline">
            <div class="experience-time">
              <h2>2019 - 2021</h2>
              <h3>Intermediate Examination </h3>
            </div>
            <!--/.experience-time-->
            <div class="timeline-horizontal-border">
              <fa-icon [icon]="faCircle"></fa-icon>
              <span class="single-timeline-horizontal"></span>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <h4 class="title">Inter Science College</h4>
                <h5>Hazaribagh, Jharkhand</h5>
                <p class="description">
                  An intermediate examination is a pivotal assessment that occurs at the midpoint of a student’s
                  academic journey, typically in the latter stages of secondary education or at the beginning of higher
                  education.
                </p>
              </div>
              <!--/.timeline-content-->
            </div>
            <!--/.timeline-->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-horizontal-timeline">
            <div class="experience-time">
              <h2>2021 - 2025</h2>
              <h3>Bachelor <span>of </span> Technology</h3>
            </div>
            <!--/.experience-time-->
            <div class="timeline-horizontal-border">
              <fa-icon [icon]="faCircle"></fa-icon>
              <span class="single-timeline-horizontal spacial-horizontal-line"></span>
            </div>
            <div class="timeline">
              <div class="timeline-content">
                <h4 class="title">Swami Vivekanand Institute of Engineering & Technology</h4>
                <h5>Banur, Ramnagar</h5>
                <p class="description">
                  Swami Vivekanand Institute Of Engineering & Technology(SVIET) is the premier Institute of India and is
                  known for its high standards in teaching and research and attracts eminent scholars of its faculty.
                </p>
              </div>
              <!--/.timeline-content-->
            </div>
            <!--/.timeline-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/.education-->
<!--education end -->


<!-- footer starts -->
<footer>
  <div class="footer-content">
    <div class="footer-section About">
      <h3>About Us</h3>
      <p>Hi, I'm Anuj, a dedicated Full Stack Developer with a passion for building dynamic and responsive web
        applications. Explore my portfolio to see some of my latest projects and learn more about my skills and
        experience.</p><br>
      <div class="footer-col">
        <!-- <h4>follow us</h4> -->
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-section links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#tech-text">Text-Tech</a></li>
        <li><a href="#learning">Learning</a></li>
        <li><a href="#sign-out">Sign Out</a></li>
        <li><a href="#sign-in">Sign In</a></li>
      </ul>
    </div>
    <div class="footer-section contact-us">
      <h3>Location</h3>
      <p>#366,PWT,Sector-13 Chandigarh</p><br>
      <p><i class="fa-solid fa-phone-volume"></i>  6206945227</p>
      <p><i class="fa-solid fa-envelope"></i>  anuj12&commat;gmail.com</p>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2024 Jungleworks | Team
  </div>
</footer>